@import "../../../assets/sass/vars.scss";

.form-container {
  width: 55%;
  margin: 0 auto;
  padding-left: 45%;

  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 100%;
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input.ng-valid[required], input.ng-valid,
  textarea.ng-valid[required], textarea.ng-valid,  {
    border-left: 5px solid #42A948;
  }

  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
  }

  input, textarea {
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  textarea {
    max-width: 100%;
    max-height: 136px;
  }

  button {
    background: $header-background;
    color: $header-text-color;
    font-size: $text-size;
    padding: 10px 20px;
    border: none;

    &:disabled {
      background: #DFE5E8;
    }
  }

  p {
    font-size: $text-size;
  }
}
