<section>
  <div>
    <h4>יצירת קשר</h4>
      <p>
        מוזמנים....
      </p>
      <form [formGroup]="contactForm">
        <input type="text" autofocus="true" placeholder="שם"
        formControlName="name">
        <div class="errors" *ngIf="nameControl.errors && displayErrs">
            <span>נדרש</span>
        </div>
        <input type="email" placeholder="אימייל"
        formControlName="email">
        <div class="errors" *ngIf="emailControl.errors">
            <span *ngIf="emailControl.errors.required && displayErrs">נדרש</span>
            <span class="warn"
            *ngIf="emailControl.errors.pattern">חייב להיות אימייל תקף</span>
        </div>
        <textarea name="name" rows="8" cols="30" placeholder="תוכן"
        formControlName="content"></textarea>
        <div class="errors" *ngIf="contentControl.errors">
            <span *ngIf="contentControl.errors.required && displayErrs">נדרש</span>
        </div>
        <span
        (mouseenter)="checkAll()">
            <button type="submit" [disabled]="!contactForm.valid">שליחה</button>
        </span>

      </form>
    </div>
</section>
