@import "../../../assets/vars.scss";

section {
  margin-top: 60px;
  direction: rtl;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
}

div {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 35rem;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 23rem;
    flex-grow: 0;

    input {
        height: 1.6rem;
    }

    button {
      background: $header-background;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      border: none;
      max-width: 6rem;
      font-weight: 300;
}

    button:hover {
      background: #97b4c2;
      text-decoration: none;
    }

}

form > * {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
        border: 1px solid #97b4c2;
    font-size: 14px;
    font-weight: 200;
    padding: 8px;
}



p {
  font-size: 17px;
}
