@import "../../../assets/sass/vars.scss";
form {
  input,
  textarea {
    border-radius: 4px;
    border: 1px solid #97b4c2;
    font-size: 14px;
    font-weight: 200;
    padding: 8px;
  }

  input {
    height: 1.6rem;
    margin-bottom: 1rem;
  }

  textarea {
    max-width: 100%;
    max-height: 136px;
  }

  input.ng-touched.ng-dirty.ng-invalid,
  textarea.ng-touched.ng-dirty.ng-invalid {
    border: 2px solid red;
  }

  button {
    background: $header-background;
    color: $header-text-color;
    font-size: $text-size;
    padding: 10px 20px;
    border: none;
  }

  button:disabled {
    background: #DFE5E8;
  }
}

p {
  font-size: $text-size;
}

.errors{
  flex: 0;
  font-size: 0.8rem;
  color: red;
}
