<section>
  <h4>יצירת קשר</h4>
  <p>מוזמנים</p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <input type="text" autofocus="true" placeholder="שם" formControlName="name" (keyup)="checkError($event)">
    <div class="errors" [style.visibility]="(nameControl.errors && NameError) ? 'visible' : 'hidden'">
      <span>נדרש</span>
    </div>

    <input type="email" placeholder="אימייל" formControlName="email" (keyup)="checkError($event)">
    <div class="errors" *ngIf="emailControl.errors; else elseBlock" [style.visibility]="(emailControl.errors && EmailError) ? 'visible' : 'hidden'">
      <span *ngIf="emailControl.errors.required">נדרש</span>
      <span class="warn" *ngIf="emailControl.errors.pattern">חייב להיות אימייל תקף</span>
    </div>
    <ng-template #elseBlock>
      <span style="visibility: hidden">נדרש</span>
    </ng-template>

    <textarea name="name" rows="8" cols="30" placeholder="תוכן" formControlName="content" (keyup)="checkError($event)"></textarea>
    <div class="errors" [style.visibility]="(contentControl.errors && ContentError) ? 'visible' : 'hidden'">
      <span>נדרש</span>
    </div>

    <span>
      <button type="submit" [disabled]="!contactForm.valid">שליחה</button>
    </span>
  </form>
</section>
