<section>
  <h4>יצירת קשר</h4>
  <p>מוזמנים</p>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <input type="text" autofocus="true" placeholder="שם" formControlName="name" />
    <op-control-messages class="error-message" [control]="contactForm.controls.name"></op-control-messages>

    <input type="email" placeholder="אימייל" formControlName="email">
    <op-control-messages class="error-message" [control]="contactForm.controls.email"></op-control-messages>

    <textarea name="name" rows="8" cols="30" placeholder="תוכן" formControlName="content"></textarea>
    <op-control-messages class="error-message" [control]="contactForm.controls.content"></op-control-messages>

    <button type="submit" [disabled]="!contactForm.valid">Submit</button>
  </form>
</section>
