.filters {
  width: 200px;
}

.filters-date-select {
  width: 200px;
  height: 50px;
}

.button-purple {
  background-color: #9267d9;
  color: #fff;
}

.button-green {
  background-color: #89c540;
  color: #fff;
}

.button-lightblue {
  color: #fff;
  background-color: #00bcd6;
}

.button-orange {
  color: #fff;
  background-color: #ff9900;
}
