.filters {
  width: 20%;
  margin: 1% 12% 1% 0;
}

.filters-date-select {
  width: 200px;
  height: 50px;
  background-color: #fff;
  color: #5f7d8c;
  font-size: 18px;
  border-radius: 5px;
}

.filters-label {
  color: #5f7d8c;
}

.filters-button {
  margin: 10px 0 10px 10px;
  height: 50px;
  padding: 5px;
  vertical-align: middle;
  border-radius: 5px;
  text-align: right;
  color: #fff;
  width: 200px;
  box-sizing: border-box;
}

.add-button {
  background: #fff;
  color: #5f7d8c;
  border: 1px dashed #5f7d8c;
  text-align: center;
  font-size: 18px;
}
