<div class="filters">
  <div class="filters-date-select-div">
    <select class="filters-date-select">
      <option value="2016-4">2016 - רבעון ד'</option>
      <option value="2017-1">2017 - רבעון א'</option>
      <option value="2017-2">2017 - רבעון ב'</option>
    </select>
  </div>
  <div>
    <input id="quarterly" type="radio" name="time-display" value="quarterly"/>
    <label class="filters-label" for="quarterly">רבעוני</label>
    <input id="month" type="radio" name="time-display" value="month"/>
    <label class="filters-label" for="month" >חודשי</label>
  </div>
  <div class="filters-parameters-div">
    <h2>פרמטרים</h2>
  </div>
  <div>
    <div class="filters-parameters-div">
      <div class='container' [dragula]='"first-bag"'>
        <div class="filters-button button-grey" data-step="3" data-intro="כדי לחזור אחורה בעומק הפאי אפשר ללחוץ על הפרמטרים העליונים שכבר נעשתה בהם בחירה.">בסיס<br>סה״כ שוק הפנסיה 100%</div>
        <div class="filters-button button-purple">גוף מנהל</div>
        <div class="filters-button button-green">רמת סחירות</div>
        <div class="filters-button button-lightblue" data-step="1" data-intro='זוהי רשימת הפרמטרים שיופיעו בגרף. כל פעם יופיעו בגרף 4 פרמטרים (אלה הצבעונים בהתאמה). אפשר לשנות את סדר הפרמטרים ע"י גרירה, ואפשר להוסיף פרמטרים נוספים.'>סוג נכס</div>
        <div class="filters-button button-orange">רמת נזילות</div>
      </div>

    </div>
    <button class="filters-button add-button">+ הוספה</button>
  </div>
</div>
