.bars-graph {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .bar {
    background-color: var(--bar-graph-purple);
    padding: 0  0 1em 0;
    margin-left: 1em;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 1em;

    thead {
      tr {
        td {
          height: 20vh;
          vertical-align: bottom;

          &:last-child {
            div {
              margin-left: 0;
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          height: 15vh;
          padding-right: .5em;
          border-top: solid 2px var(--bar-border-color);
          text-align: center;
          vertical-align: top;

          .bar {
            background-color: var(--bar-graph-red);
          }

          span {
            display: block;

            &.money {
              padding-top: .5em;
              padding-bottom: .5em;

              &.gray {
                color: #4b4b4b;
              }

              &.red {
                color: var(--bar-graph-red);
              }

              &.purple {
                color: var(--bar-graph-purple);
              }
            }
          }
        }
      }
    }
  }
}
