header {
  @include container-padding();
  background: var(--background-purple-dark);
  color: var(--white-text);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1em;
  padding-bottom: 1.5em;
  font-weight: bold;

  @media only screen and (max-width: $small) {
    padding-right: 2em;
    padding-left: 2em;
    padding-bottom: .75em;
  }

  &.front-page {
    background: var(--frontpage-bgblack);
  }

  .logo {
    a {
      display: flex;
      align-items: flex-end;
      color: white;
      text-decoration: none;

      img {
        height: 3em;
        padding-left: .25em;
        margin-bottom: 0.5em;
      }
    }
  }

  ul {
    display: flex;
    margin-bottom: .5em;

    @media only screen and (max-width: $small) {
      flex-direction: column;
    }

    li {
      list-style-type: none;
      padding-left: 1em;
      padding-right: 1em;

      &:last-child {
        padding-left: 0;
      }

      @media only screen and (max-width: $small) {
        font-size: 1.3em;

        &:not(:nth-child(3)) {
          padding-bottom: .25em;
        }
      }
    }
  }
}
