.info-tooltip {
  display: flex;
  min-width: 20vw;
  position: absolute;

  a {
    display: flex;
    text-decoration: none;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    color: #6e4bdd;
    font-weight: 500;
    border: solid 2px transparent;
    background: white;
  }

  &.off {
    margin-right: .75em;

    a {
      @include drop-shadow;
    }
  }

  &.on {
    margin-right: .5em;
    background: white;

    @include drop-shadow;
    border-radius: 32px;

    a {
      margin-right: .25em;
      margin-top: .25em;
      margin-bottom: .25em;
      border: solid 2px #6e4bdd;
      font-size: 1.5em;
      height: 32px;
      width: 32px;
    }

    p {
      padding: .5em;
      font-weight: 400;
      line-height: 1.4;
      color: black;
    }
  }
}
