.secondary-header {
  @include container-padding;
  background: var(--button-purple-background-first);
  padding-top: 2em;
  padding-bottom: 1.25em;

  h2 {
    font-size: 7.5em;
    color: var(--text-purple-dark);
  }

  p.description {
    color: white;
    font-size: 1.5em;
    font-weight: 300;
    padding-bottom: 1em;
    line-height: 1.43;
  }

  .last-update {
    font-weight: bold;
    color: white;
  }
}

.inner-page-content {
  @include container-padding;
  padding-top: 2em;
  padding-bottom: 2em;

  h3 {
    font-size: 3.25em;
    font-weight: 500;
    padding-bottom: 1em;
  }

  h4 {
    font-size: 2.25em;
    font-weight: 500;
    color: var(--text-black-three)
  }

  .all-companies-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 2em;

    .all-companies {
      color: var(--button-purple-background-first);
      padding-bottom: .25em;
      padding-right: 1.25em;
      padding-left: 1.25em;
      font-weight: bold;
      text-decoration: none;
      border-bottom: solid 2px;
    }
  }

}
