.inner-page-content {
  @include container-padding;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;

  &.big {
    min-height: 75vh;
  }

  &.small {
    min-height: 55vh;
  }

  h3 {
    font-size: 3.25em;
    font-weight: 500;
    padding-bottom: 1em;
  }

  h4 {
    font-size: 2.25em;
    font-weight: 500;
    color: var(--text-black-three)
  }

  .all-companies-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 2em;

    .all-companies {
      color: var(--button-purple-background-first);
      padding-bottom: .25em;
      padding-right: 1.25em;
      padding-left: 1.25em;
      font-weight: 500;
      text-decoration: none;
      border-bottom: solid 2px;
    }
  }

  .bottom-image {
    padding-top: 10em;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    span {
      padding-bottom: 1.5em;
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  &.performance {
    .buttons-group {
      overflow-x: scroll;
      scroll-behavior: smooth;
      width: 88vw;
      padding-bottom: 0.5em;
    }
  }

  .performance-results {
    padding-top: 5em;

    h5 {
      font-size: 1.5em;
      font-weight: 500;
    }

    .separator {
      padding-top: 2em;
      padding-bottom: .25em;
      margin-bottom: .5em;
      text-align: center;
      border-bottom: solid 2px #000000;
    }

    .tracks-wrapper {

      .tracks {
        margin-top: .5em;
        max-height: 50vh;
        overflow: scroll;
      }
    }

    .graph {
      margin-top: 2em;
      border-radius: 15px;

      &.no-results {
        display: flex;
        height: 51.5vh;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        font-size: 2em;
        flex-direction: column;

        p {
          padding-bottom: .25em;
          color: var(--text-black-gray)
        }
      }

      &.lines {
        & > div {
          height: 50vh !important;
        }
      }

      &.bars {
        margin-top: 15em;
      }
    }

    .graph-wrapper {

      ul {
        margin-top: 2em;
        width: 100%;
        display: flex;
        justify-content: space-between;

        li {
          list-style: none;
        }

        &.period-picker {
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
          border-radius: 15px;

          li {
            font-weight: bold;
            margin: .75em 1.75em;

            a {
              color: var(--text-black-gray);
              text-decoration: none;
            }

            &.active {
              a {
                color: var(--active-graph-text-filter);
              }
            }
          }
        }

        &.legends {
          padding-top: 1em;
          padding-bottom: .75em;
          border-bottom: solid 3px #ebebeb;
          width: 98%;
          margin: 0 auto;
          overflow-x: scroll;

            li {
              display: flex;
              min-width: fit-content;
              margin-left: 1em;

              .cube {
                width: 20px;
                height: 20px;
                display: block;
                margin-left: .25em;
              }
            }
        }
      }

      .graph {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
      }
    }
  }

  .under-construction-image {
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0 auto;

    img {
      width: 75vw;
    }
  }

  .line-tooltip {
    background-color: white;
    border: solid 3px black;
    padding: .25em;
    font-weight: 100;
    font-size: 1em;
    max-width: 10vw;
  }
}
