.welcome-message-wrapper {
  @include container-padding();
  background-size: cover;

  padding-top: 4em;
  display: flex;
  flex-direction: column;
  color: var(--white-text);
  min-height: 82vh;
  background: url("/cover.png") center center no-repeat #337ab7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  a {
    @include purple-gradient-button();
    box-shadow: 1px 1px 9px 0 rgba(255, 255, 255, 0.27);
    border-radius: 5em;
    padding: 1em 3em;
    margin: 6em auto;
    font-size: 1.75em;
    font-weight: bold;

    @media only screen and (max-width: $extraLarge) {
        font-size: 1.25em;
    }
  }

  .welcome-message {
    background-color: rgba(0, 0, 0, 0.5);
    max-width: fit-content;

    .h2 {
      font-size: 10em;
      font-weight: bold;
      font-family: BauhausMF, sans-serif;
      line-height: .9;
    }

    .p {
      padding-top: 1em;
      font-size: 2.7em;
      font-weight: 500;
    }

    @media only screen and (max-width: $extraLarge) {
      .h2 {
        font-size: 7em;
      }

      .p {
        font-size: 2em;
      }
    }

    @media only screen and (max-width: $large) {
      .h2 {
        font-size: 5em;
      }

      .p {
        font-size: 1.5em;
      }
    }

    @media only screen and (max-width: $small) {
      .h2 {
        font-size: 3em;
      }

      .p {
        font-size: 1.25em;
      }
    }
  }
}
