.performance-query {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  z-index: 1000;

  .dropdown-wrapper {
    width: 100%;
    padding-left: 2.5em;
    max-width: 33%;
  }
}
