:root {
  --white-text: #ffffff;
  --white-border: #ffffff;
  --white-background: #ffffff;

  --frontpage-bgblack: black;
  --frontpage-purple-top: #7c5beb;
  --frontpage-purple-bottom: #6141c7;
  --footer-background: #6e6e6e;

  --button-purple-background-first: #714ee6;
  --button-purple-background-second: #563cab;
  --button-purple-background-third: #392773;
  --button-purple-background-fourth: #8262eb;
  --background-purple-dark: #4e3597;
  --background-purple-light: #6e4ddd;
  --background-button-gray: #cecece;

  --background-table-gray: #f5f5f5;

  --text-black-one: #011a1a;
  --text-black-two: #1d1c1c;
  --text-black-three: #3e3e3e;

  --text-gray-one: #6e6e6e;

  --text-blue: #2699fb;
  --text-purple-dark: #563cab;
  --text-active-link-header: rgba(255, 255, 255, 0.35);

  --placeholder-color: #b4a2f2;
  --tooltip-border: #6e4bdd;
}
