.who-we-are {
  @include container-padding();
  padding-top: 4em;
  margin-bottom: 3em;

  h4 {
    font-size: 2.7em;
    font-weight: 300;
    padding-bottom: .5em;
  }

  .text {
    font-weight: 400;
    line-height: 1.65;
    font-size: 1.25em;

    @media only screen and (max-width: $small) {
      font-weight: 100;
      line-height: 1.65;
      font-size: 1em;
    }
  }

  .staff {
    display: flex;
    padding-top: 4em;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;

    @media only screen and (max-width: $small) {
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }

    ul {
      li {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;

        img {
          height: 7em;
          padding-bottom: .5em;
        }

        .name {
          font-size: 1.25em;
          color: var(--text-gray-one);
          padding-bottom: .25em;
        }

        .job {
          font-size: .75em;
          color: var(--text-blue);
        }
      }
    }

    .graphs {
      padding-top: 10em;
      margin-left: 0;
      margin-right: auto;

      @media only screen and (max-width: $extraLarge) {
        padding-top: 5em;
        height: 12em;
      }

      @media only screen and (max-width: $large) {
        height: 11em;
      }

      @media only screen and (max-width: $small) {
        height: 10em;
      }

      @media only screen and (max-width: $extraSmall) {
        height: 9em;
      }
    }
  }
}
