@import "variables";
@import "mixins";

body {
  direction: rtl;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper {
  width: 100vw;
}

header {
  background: var(--frontpage-bgblack);
  color: var(--white-text);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;
  padding-bottom: 1.5em;
  font-weight: bold;

  ul {
    display: flex;

    li {
      list-style-type: none;
      padding-left: 1em;
      padding-right: 1em;

      &:last-child {
        padding-left: 0;
      }
    }
  }
}

.welcome-message-wrapper {
  min-height: 50em;
  padding-top: 4em;
  display: flex;
  padding-right: 5em;
  flex-direction: column;
  background: var(--frontpage-bgblack);
  color: var(--white-text);

  a {
    @include purple-gradient-button();
    box-shadow: 1px 1px 9px 0 rgba(255, 255, 255, 0.27);
    border-radius: 5em;
    padding: 1em;
    margin: 1em auto;
    font-size: 1.75em;
    font-weight: bold;
  }

  .welcome-message {
    .h2 {
      font-size: 8em;
      font-weight: bold;
    }

    .p {
      font-size: 2.7em;
      font-weight: 500;
    }
  }
}

