@import "variables";
@import "mixins";
@import "fonts";


body {
  direction: rtl;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper {
  width: 100%;
}

h1 {
  font-family: 'BauhausMF', sans-serif;
}

@import "header";
@import "messageWrapper";
@import "frontPageNavigation";
@import "whoWeAre";
@import "footer";
@import "innerPage";
