<section>
  <div id="post-header">
    <h2>{{ post$.title }}</h2>
    <a [routerLink]="['/blog']">חזרה לבלוג >></a>
  </div>

  <div id="post-meta-data">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <span>{{ post$.publish | date: 'd/M/y' }}</span>
    <i class="fa fa-user" aria-hidden="true"></i>
    <span>צוות פנסיה פתוחה</span>
  </div>

  <div [innerHTML]="post$.body | safeHtml"></div>

  <!-- Add social network icons here -->
  <div id="share">שיתוף:</div>
  <share-buttons
    [url]="shareUrl"
    [description]="post$.title"

    [pinterest]="false"
    [tumblr]="false"
    [reddit]="false"
    [stumbleUpOn]="false"
    ></share-buttons>

  <disqus [shortname]="'openpension'" [identifier]="post$.unique_id" ></disqus>
</section>
