<section>
  <div class="header">
    <h2>{{ post$.titleHe }}</h2>
    <a [routerLink]="['/blog']">חזרה לבלוג >></a>
  </div>

  <div class="meta-data">
    <ul>
      <li>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>{{ post$.publish | date: 'd/M/y' }}</span>
      </li>
      <li>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>{{ post$.authorHe }}</span>
      </li>
    </ul>
  </div>

  <div>
    <p id="content">{{ post$.bodyHe }}</p>
  </div>

  <div class="share-wrapper">
    <div class="share">שיתוף:</div>
    <share-buttons
      [url]="shareUrl"
      [description]="post$.titleHe"
      [pinterest]="false"
      [tumblr]="false"
      [reddit]="false"
      [stumbleUpOn]="false"
    ></share-buttons>
  </div>

  <disqus [shortname]="'openpension'" [identifier]="post$.uniqueId" ></disqus>
</section>
