
h2 {
  display: inline-block;
}

span, i {
  color: #9B9B9B;
  font-size: 15px;
}

li {
  display: inline-block;
  margin-left: 5px;
}

ul {
  padding: 0px;
  margin: 0 0 10px 0;
}

p {
  color: #4A4A4A;
  font-size: 18px;
  display: inline-block;
  margin: 0 0 30px 0;
}

a {
  color: #4990E2;
  font-size: 18px;
  float: left;
}

section {
  width: 960px;
  margin: auto;
}
