<section>
  <div class="header">
    <h2>{{ post$.title }}</h2>
    <a [routerLink]="['/blog/1']">חזרה לבלוג >></a>
  </div>

  <div class="meta-data">
    <ul>
      <li>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>{{ post$.publish | date: 'd/M/y' }}</span>
      </li>
      <li>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>{{ post$.author }}</span>
      </li>
    </ul>
  </div>

  <div id="content" [innerHTML]="post$.body"></div>

  <div class="share-wrapper">
    <div class="share">שיתוף:</div>
  </div>

  <disqus [identifier]="post$.unique_id" [lang]="'he'"></disqus>
</section>
