section {
  margin-top: 100px;
  color: #4a4a4a;
  direction: rtl;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 0;
}

#post-meta-data {
  font-size: 14px;
  margin-bottom: 20px;
  color: #9a9a9a;
  i.material-icons {
    font-size: inherit;
  }
}

#share {
  color: #a8a8a8;
}

#post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
