#blog-container {
  margin-top: 100px;
  color: #4a4a4a;
  direction: rtl;
}

h2 {
  font-weight: bold;
  font-size: 23px;
}

.post-container {
  margin-top: 30px;
}

h3 {
  font-size: 19px;
  color: #3c87e4;
}

#post-meta-data {
  font-size: 14px;
  i.material-icons {
    font-size: inherit;
  }
}
