section {
  margin-top: 60px;
  direction: rtl;
  color: #4a4a4a;
  width: 680px;
  margin: auto;
}

div {
  padding: 0;
}

p {
  font-size: 16px;
  margin: 8px 0 8px 0;;
}

a {
  color: #4990E2;
  font-size: 16px;
  margin: 2em 0;
  min-width: 120px;
}
 div.links p {
   margin: 0;
 }

 div.links:last-child {
   margin-bottom: 60px;
 }
