<section class="container" fxLayout="row" fxLayoutAlign="space-around">
  <div class="about-text">
    <h1>אודות</h1>
    <p>פרוייקט פנסייה פתוחה הוא פרוייקט המבוצע על ידי מתנדבים של הסדנא לידע ציבורי - וזאת במטרה לאפשר לציבור גישה קלה וברורה לנתונים אודות חסכונותיו הפנסיוניים, ויתר חסכונותיו ארוכי התווך.</p>
    <p>נכון להיום - המידע הנגיש לציבור אודות חסכונותיו ארוכי הטווח מוגבל, הציבור אינו יודע היכן מושקעים כספיו הפנסיוניים ומתקשה לענות על השאלה - האם חסכונותיו מנוהלים כיאות.</p>
    <p>לצורך כך מתנדבי הסדנא לידע ציבורי עמלו על איסוף הנתונים הקיימים לגבי קרנות הפנסיה וגופי ההשקעות השונים - ועל הנגשתם לצורך השימוש של הציבור הרחב.</p>
    <p>כמו כן הפרוייקט מאפשר ביצוע ניתוחים גם ברמה המשקית - רמת המאקרו - מה שיאפשר לחוקרים ולקובעי מדיניות לקבל נקודת מבט חדשה ונוחה על נתוני החיסכון ארוך הטווח של אזרחי ישראל - באופן שלא היה זמין להם בעבר - וזאת במטרה לשפר את הטיפול בנושא גם ברמה הלאומית.</p>
    <p>פרויקט פנסיה פתוחה נועד לשמש כלי לבחינה ומעקב אחר אופן ניהול הנכסים באפיקי החיסכון לטווח ארוך (קופת גמל, פנסיה וביטוח מנהלים), ולאפשר ניתוח של תיק ההשקעות עד לרמת הנכס הבודד. הפרוייקט מיועד לספק כלי עבודה רב עוצמה לטובת שורת סוגי משתמשים שונים, החל מהחוסך הבודד, עבור עיתונאים חוקרים בעלי אורינטיצייה כלכלית, וכן מתן כלים חדשים וחזקים בידי גופי הרגולציה הרשמיים של ממשלת ישראל, אנשי אקדמיה וחוקרים, גופים בעלי אג'נדה, אנשי שוק ההון, ועד לצדדים לסכסוכים משפטיים הבאים להציג את טענותיהם השונות בנושא חסכונותיהם הפנסיוניים וניהולם באופן של תביעה משפטית רגילה כנגד הגוף המנהל את הקרן, וכן באמצעות, תביעות נגזרות , או תביעות ייצוגית שיוכלו להשתמש בתנותנים העולים מהאתר.</p>
    <p>מטרת העל היא להנגיש את המידע אודות ענף הפנסיה בישראל באופן שקוף, ברור , חדש ויצירתי - על מנת לקבל החלטות טובות יותר במסגרת הדיונים העוסקים בנושא:</p>
    <p>דיונים שההחלטות שייתקבלו בעקבותיהם יהיו בהתאם לאמות מידה מקצועיות המשרתות הן את כלל החוסכים והן את החוסך הבודד - במקום דיונים בהם קיימת א-סימטריות קשה באינפורמציה בין הצדדים - ואשר בעקבותיה גורמים בעלי אינפורמציה עודפת ואינטרס צר , וכן כוח משמעותי , מצליחים להטות את קבלת ההחלטות בענף - כך שההחלטות שיתקבלו ישרתו בראש ובראשונה את האינטרסים הצרים שלהם.</p>
    <p>אנו כאן על מנת להנגיש לציבור החוסכים באופן חופשי, ברור ובלתי מוטה, את הנתונים הרלוונטיים והחשובים לצורך קבלת תמונת מצב על מצב החסכונות הפנסיוניים של הפרט ועל מאלטרנטיבות הקיימות בשוק החסכונות ארוכי הטווח - זאת על מנת שהפרט יוכל לבחור היטב את קרן החיסכון המשתלמת עבורו ביותר, ומצד שני - לאפשר לרגולטור ולחוקרים - לקבל תמונה אמינה של המתרחש בכלל השוק - על מנת לזהות סיכונים ענפיים שבהם יש לטפל מבעוד מועד.</p>


    <h4>דוגמאות לשימוש בנתוני פנסיה פתוחה</h4>
    <ul class="links">
      <li><a href="https://www.themarker.com/markets/1.4041126">2 מיליארד שקל מכספי החוסכים במגדל מושקעים בחברות ללא פירוט שמותיהן</a></li>
      <li><a href="http://news.nana10.co.il/Article/?ArticleID=1107391">כמה מהכסף הציבורי של קרנות הפנסיה מוענק בהלוואות פרטיות </a></li>
      <li><a href="http://www.globes.co.il/news/article.aspx?did=1001065334">כמה מהכסף שלנו ממן חברות מזהמות 1</a></li>
      <li><a href="http://www.themarker.com/opinion/1.2698996">כמה מהכסף שלנו ממן חברות מזהמות 2</a></li>
      <li><a href="http://www.themarker.com/markets/1.404112">הגברת שקיפות ההשקעות בחברת מגדל</a></li>
    </ul>
  </div>
</section>
