<section class="container" fxLayout="row" fxLayoutAlign="space-around">
  <div class="about-text">
    <h1>אודות</h1>
    <h4> איך ואיפה מושקעים חסכונות הפנסיה של הציבור? </h4>

    <p>יותר מטריליון (1,329,000,000,000) שקל מנוהלים בקרנות הפנסיה, סכום שהוא פי 6 מתקציב המדינה. למרות חשיבותו של הסכום האסטרונומי הזה למשק הישראלי, אף אחד לא ממש יודע איך ואיפה הוא מושקע.
    </p>
    <p>בפנסיה פתוחה, אנחנו סורקים מדי רבעון את הדו"חות הרבעוניים של כל קרנות הפנסיה, ביטוחי המנהלים וקופות הגמל. את הנתונים האלו אנחנו מזרימים למאגר נתונים מצרפי, שמאפשר לבצע שאילתות שונות על כלל שוק הפנסיה ועל כל חיתוך שלו.
    </p>
    <p>רוצים לדעת באיזה חברות ישראלית הכסף הפנסיוני שלכם מושקע? איזה אחוז מהחסכונות הפנסיונים מושקע בחו"ל? איזה קרן משקיעה הכי הרבה בהייטק?
    </p>
    <p>פרויקט פנסיה פתוחה הינו מיזם התנדבותי של הסדנא לידע ציבורי שנועד לעזור לכם להבין היכן מושקעים חסכונותיכם הפנסיוניים וכיצד הם מנוהלים. מאגר הנתונים של פנסיה פתוחה מאפשר לערוך בדיקות שונות ומגוונות לגבי דרכי ההשקעה של חברות הפנסיה כולל סוגי החזקות, רמות סיכון, המדינה והמטבע שבן נעשות ההשקעות וכ״ו. הפרויקט הוא כלי עבודה רב עוצמה המיועד הן לחוסכים, הן לעיתונאים, חוקרים ואנשי שוק ההון והן לקבוצות הפועלות לקדם מטרות חברתיות על ידיי הפעלת לחץ על חברות הפנסיה והקרנות להשקיע, או להימנע מהשקעות, בהתאם למטרות החברתיות שברצונם לקדם.
    </p>
    <p>הפרויקט מאפשר להתבונן על שוק הפנסיה גם ברמת המאקרו על מנת לאפשר לחוקרים, פוליטיקאים וקובעי מדיניות לקבל נקודת מבט חדשה ונוחה על נתוני החיסכון ארוך הטווח של אזרחי ישראל, באופן שלא היה זמין להם בעבר, זאת במטרה לשפר את הטיפול בנושא גם ברמה הלאומית.
    </p>

    <h4>דוגמאות לשימוש בנתוני פנסיה פתוחה</h4>
    <div class="links">
      <p><a href="http://news.nana10.co.il/Article/?ArticleID=1107391">כמה מהכסף הציבורי של קרנות הפנסיה מוענק בהלוואות פרטיות </a></p>
      <p><a href="http://www.globes.co.il/news/article.aspx?did=1001065334">כמה מהכסף שלנו ממן חברות מזהמות 1</a></p>
      <p><a href="http://www.themarker.com/opinion/1.2698996">כמה מהכסף שלנו ממן חברות מזהמות 2</a></p>
      <p><a href="http://www.themarker.com/markets/1.404112">הגברת שקיפות ההשקעות בחברת מגדל</a></p>
    </div>
  </div>
</section>
