@import url('https://fonts.googleapis.com/css?family=Alef:400,700');

body {
  font-family: 'Alef', sans-serif;;
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
