@import url('https://fonts.googleapis.com/css?family=Alef:400,700');
@import '~@angular/material/theming';
@import '~font-awesome/css/font-awesome.min.css';
@import '~@ngx-share/button/themes/default/default-theme';


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$op-app-primary: mat-palette($mat-indigo);
$op-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$op-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$op-app-theme: mat-light-theme($op-app-primary, $op-app-accent, $op-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($op-app-theme);

body {
  font-family: 'Alef', sans-serif;;
  direction: rtl;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}
