/* You can add global styles to this file, and also import other style files */

.header{
  background-color: #5F7D8C;
  color: white;

}
app-search div {
  background-color: white;
  border-color: white;
  border-style: solid;
  border-color: white;
  min-height:60px;
}
app-search div input{
  float: left;
  background-color: transparent;
  border-style: none;
  min-width: 85%;
  height:100%;
  font-size: 14px;
  vertical-align: middle;
  margin-top: 2%;
}
