sudo: required
dist: trusty

cache:
  npm: true
  directories:
    - /home/travis/build/hasadna/open_pension/server/data/OpenPensionCSV
    - "$HOME/.npm"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: python
python:
  - 3.6

git:
  lfs_skip_smudge: true

services:
  - docker

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1


before_install:
  - npm install -g npm@latest codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - cd /home/travis/build/hasadna/open_pension/client
  - docker pull hasadna/open-pension-client
  - docker build -t hasadna/open-pension-client --cache-from hasadna/open-pension-client .
  - cd /home/travis/build/hasadna/open_pension/server
  - docker pull hasadna/open-pension-server
  - docker build -t hasadna/open-pension-server --cache-from hasadna/open-pension-server .
  - cd /home/travis/build/hasadna/open_pension/
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

install:
  # Server
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml exec server pip install coverage pycodestyle flake8 isort
  - npm ci

script:
  # Client
  - cd /home/travis/build/hasadna/open_pension/client
  - npm run lint
  - npm run test
  - npm run e2e

  # Server
  - cd /home/travis/build/hasadna/open_pension/
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml exec server coverage run --source='.' manage.py test
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml exec server coverage xml
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml exec server pycodestyle --show-source --max-line-length=120 --exclude=pension/migrations --show-pep8 .
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml exec server isort . --recursive --check-only

after_script:
  - cd /home/travis/build/hasadna/open_pension && codecov -t 4e44efc7-43b7-42e3-a122-4042d83e19ff
