sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: node_js
node_js:
  - "6"
  - "7"

cache:
  npm: true
  directories:
  - client/node_modules

services:
  - postgresql

before_install:
  - npm install -g npm@latest codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

install:
  # Server
  - cd client && npm install

  # Client
  - pip install pycodestyle

script:
  # Server
  - cd .. && pycodestyle --show-source --max-line-length=119 --exclude=server/pension/migrations --show-pep8 server;

    # Client
  - cd ../client
  - npm run lint
  - npm run test
  - npm run e2e
  - ng build --prod --aot
