sudo: required
dist: trusty

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
      - python3.6

language: node_js
node_js:
  - "6"
  - "8"

cache:
  npm: true
  directories:
    - client/node_modules

services:
  - postgresql

before_install:
  - npm install -g npm@latest codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sudo add-apt-repository ppa:jonathonf/python-3.6 -y
  - sudo apt-get update -y
  - sudo apt-get install python3.6 -y

install:
  # Client
  - cd /home/travis/build/hasadna/open_pension/client && npm install

  # Server
  - pip3 install --upgrade pip
  - pip3 install pycodestyle

  # Pytest
  - pip3 install -U pytest

script:

  # Install requirements.
  - cd /home/travis/build/hasadna/open_pension/server
  - pip3 install -r requirements.txt

  # Checking the coding standards.
  - pycodestyle --show-source --max-line-length=119 --exclude=pension/migrations --show-pep8 .;

  # Unit testing.
  - cd pension/tests
  - python3 -m pytest
  - cd ../..

    # Client
  - cd /home/travis/build/hasadna/open_pension/client
  - npm run lint
  - npm run test
  - npm run e2e
  - npm run build -- --prod --aot
