sudo: required
dist: trusty

cache:
  npm: true
  directories:
    - "$HOME/.npm"

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

language: python
python:
  - 3.6

git:
  lfs_skip_smudge: true

services:
  - docker

env:
  global:
    - DOCKER_COMPOSE_VERSION=1.25.1
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
    - TRAVIS_CI_OPERATOR=1
    - secure: "Bm6d6rdF/hRjPN39v/zaaw7HtW0CfmcG6Fpgg70+6vbu4kecK9wlNVGWZZJNEmaxkSSGF3+SsBFa6cxWm001rbois1ZPNZ3jkNfmX2LPUytq3pZ8Xu0QpFAxIseNcXWr6LRQfpeQgXW7lOEnazWBWFuADxRLETMsJh+xz/wk4pi1Nk1Aygw7vGhal3+h04b0XgdWS1ZAuo98uO9/T6ZeG6TFZjjzLe2vsUhib2BVF/wuypah3nXvAC2yUxYGAfEsAueuArslJzhuaDepCZOWnDt83qu8cL1PSyJfCAnyNoTYsXXXHAEa/zYB5cyuiQWtbEzPFyXVxovYtvcSZlMxcbE+Els3Lg3No5+AhVJ/hE/WnfD9jxNsM2Y1wYpGc3Uxi5ztahCI0IWHaIKF7ci8lqRTD60UUCJbJJHUnebUFV7J3pz+Zf+DNbAWK/5JUxxWsb8QCxAfNQ8YAbXKSi46vcKZqg+mGUAtp35XjvR4vKsP48lvz/5hHMgrlrokSKeRh7qioMTCBpWcOay/LzvaR6vDxXK4n9Y6adC+c3NLY3RCT6iKai71GiGlcQBo6I/RObptQFdmI+ID0VUo9IdUeWFZJz9faVoTxo8xVyruhistC7xNtZeeVGY9I+9ZgVpAjFDlXhapxG2y2KBiuwzsXavraloXlPfvCUjOllaXvS8="
    - secure: "Famq0u90Cfn+ABRTZgB0lvLFhtj0THc3Saj44+R0nLZkSGAXECNsa5+LZeCyCD0wOMa5CwqcVfmJ96v9P8uGpIdSWytowDbDcLBi4bGXwrQN7or0XVzkJLADfm1BPq8XzhtvK9g1gKGyNhikYvyWgj0bRmP70cMh2PjD+CHfu4uhw680n9Okra3U2IJjF9jOgA9G+YAi+7QhV13Vopml/3tX/fjs1rWtdxS42QYwEMQm1TND6OKLhO0mJX2LrdgRMPAPwl1rv5IEmh2O+tGmNFSFPvCmkuYX3HYIVUtMDc3tJFQzXDaOwyVD4LPkriijhwlASz2btZw4rx4WLocLjJVnt6JgUYYiptGs8Q3hAx9065E3ivFcA66r7/xm/n5SoesYBrDL9fbev9jnuGU4dTnEVZIIYbkTI0QDbaL7IoXcwS3kZPq6IxvQ2rsHwYMRZ3Kc9p6UIt7BLG6vDWhfKkOonJvojIbFecUZZS2rydCVXW+IOeYRrFlYOvhbvVDQcG0N5dzEDY3FPxOI3JJru+W5QNa/kejqPkukjq0waHnvF4n6Fn8TVw6I1qr3ui80e1s4LiOdj4okNIQHTqNsx7bd+aMag2b9OfCtYDzunVpKWPWH8jgTnHKSrkiMoJs6R7eCnuCW4KI1uUMIc/xjHvOB7nhWdiN4A1qejYbaZJU="

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose version
  # install codecov (code coverage tool)
  - npm install -g npm@latest codecov
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml pull

install:
  # Build images
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml build --parallel

  # travis-ci-operator
  - python2 -m pip install pyyaml
  - python3 -m pip install pyyaml
  - curl -L https://raw.githubusercontent.com/OriHoch/travis-ci-operator/master/travis_ci_operator.sh > $HOME/bin/travis_ci_operator.sh
  - bash $HOME/bin/travis_ci_operator.sh init
  - travis_ci_operator.sh docker-login

script:
  # Launch cluster
  - docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

  # run client tests
  - cd /home/travis/build/hasadna/open_pension/client
  - npm test

after_script:
  - cd /home/travis/build/hasadna/open_pension && codecov -t 4e44efc7-43b7-42e3-a122-4042d83e19ff

deploy:
  provider: script
  script: bash .travis.sh deploy
  on:
    branch: master
    condition: $TRAVIS_TAG = "" && $TRAVIS_PULL_REQUEST = "false"
