version: "3.7"

services:
  client:
    volumes:
      - ./client/build:/usr/share/nginx/html/

  application:
    volumes:
      - ./application:/home/app
    ports:
      - '3000:3000'

  application_db:
    restart: always
    ports:
      - '3308:3306'

  gateway:
    volumes:
      - /home/app/gateway/node_modules
      - ./gateway/:/home/app/gateway
    command: ["npm", "run", "dev"]
    ports:
      # Expose graphql-playground localhost:4000
      - "4000:80"

  blog:
    restart: always
    volumes:
      - ./blog/src:/app/app

  cms:
    volumes:
      - ./cms/src/web/profiles:/var/www/html/web/profiles
    env_file:
      - ./cms/.env
    ports:
      - '2000:80'
      - '2500:8000'

  cms_db:
    restart: always
    ports:
      - '3307:3306'

  processor:
    volumes:
      - ./processor/src/app:/app/app
    ports:
      - "1000:80"

  processor_db:
    ports:
      - '27017:27017'

  fetcher:
    volumes:
      - ./fetcher:/home/app
    ports:
      - "5000:80"

  storage:
    ports:
      - "7000:80"
