version: "3.7"

volumes:
  application-db:
    external: false
  processor-db:
    external: false

services:
  gateway:
    image: hasadna/open-pension-gateway:latest
    build:
      context: ./gateway
      cache_from:
        - node:11
        - hasadna/open-pension-gateway:latest

  application:
    image: hasadna/open-pension-application:latest
    build:
      context: ./application
      cache_from:
        - node:11
        - hasadna/open-pension-application:latest
    depends_on:
      - application_db
    env_file:
      - ./application/.env

  application_db:
    image: postgres
    volumes:
      - application-db:/var/lib/postgresql/db-data:latest

  client:
    image: hasadna/open-pension-client:latest
    build:
      context: ./client
      cache_from:
        - node:11
        - hasadna/open-pension-client:latest
    ports:
      - "80:80"
    environment:
      - SERVICE_PORTS=80
    depends_on:
      - gateway

  processor:
    image: hasadna/open-pension-processor:latest
    build:
      context: ./processor
      cache_from:
        - node:11
        - hasadna/open-pension-processor:latest
    environment:
      - MONGO_URL=mongodb://processor_db:27017/
      - PYTHONUNBUFFERED=true
    depends_on:
      - processor_db

  processor_db:
    image: mongo
    volumes:
      - processor-db:/data/db

  cms:
    image: hasadna/open-pension-cms:latest
    build:
      context: ./cms
      cache_from:
        - node:11
        - hasadna/open-pension-cms:latest

  kafka:
    image: hasadna/open-pension-kafka:latest
    build:
      context: ./kafka
      cache_from:
        - ubuntu:19.04
        - hasadna/open-pension-kafka:latest
    environment: 
      - BROKER_ID=1
    depends_on: 
      - zookeeper

  kafka2:
    image: hasadna/open-pension-kafka:latest
    environment: 
      - BROKER_ID=2
    depends_on:
      - zookeeper

  zookeeper: 
    image: zookeeper:3.5
