:host {
    width: 100%;
    display:block;
}
:host .axis path,
:host .axis line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
    shape-rendering: crispEdges;
}

:host .axis text {
    font-size: 11px;
    fill: rgba(0, 0, 0, 0.9);
}

:host .grid .tick {
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

:host .grid path {
    stroke-width: 0;
}

:host .grid .tick {
    stroke: rgba(0, 0, 0, 0.1);
    opacity: 0.3;
}

:host .grid path {
    stroke-width: 0;
}
:host .color-label{
    display: inline;
}