@import "./scss/variables";
@import "./scss/elements";
@import "./scss/messages";
@import "./scss/forms";
@import "./scss/gradient";

body {
  font-size: 18px;
  background: var(--background);
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.umbre-background {
  background: linear-gradient(87deg, #5e72e4 0, #825ee4 100%) !important;
}
