.form {

  .header {
    border-bottom: solid 1px #f2f2f2;
  }

  .text {
    margin: 1em;
  }

  .section {
    padding-top: 1em;
    padding-bottom: 2em;

    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px #e5e5e5;

    .section-title {
      font-size: .7em;
      padding-top: .25em;
      margin-bottom: 2em;
      letter-spacing: .05em;
      text-transform: uppercase;
      display: block;
      color: #8898aa;
    }

    .elements {
      padding-left: 1em;
      display: flex;
      justify-content: start;

      .input-wrapper {
        width: 50%;
        margin-right: 1em;
      }

      input {
        width: 75%;
      }
    }
  }

  .draft-wrapper {
    width: 100%;
    padding-right: 3em;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    padding-bottom: 1em;
    align-items: center;
  }
}

.input-wrapper {
  margin-right: .5em;

  label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
  }

  .input-error {
    color: var(--warning-error);
    font-size: .75em;
  }

  select {
    height: 3.75em;
  }

  .form-element {
    margin-top: .5em;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 3px 2px #e9ecef0d;
    outline: 0;
    width: 100%;

    &.input {
      height: 2em;
    }

    &:focus {
      color: #8898aa;
      border-color: #5e72e4;
      outline: 0;
      background-color: #fff;
      box-shadow: 0 3px 9px #32320900, 3px 4px 8px #5e72e41a;
    }

    &.error {
      border-color: #ff8f8f;

      &:focus {
        border-color: #d26060;
      }
    }
  }
}
