section {
  margin-top: 100px;
  color: #4a4a4a;
  direction: rtl;
  width: 680px;
  margin: auto;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

div {
  margin-top: 30px;
}

hr {
  color: #979797;
}

.pagination {
  text-align: center;
  margin: 0 0 10px 0;
}
