
@import "../../../assets/sass/vars.scss";

form {
  position: relative;
}

i {
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
}

input {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
  font-family: 'Alef', sans-serif;;
  background-color: $input-background;
  border-style: none;

  &:focus{
    outline: none;
  }
}

input::placeholder {
  color: #FFFFFF;
}

.mat-progress-bar {
  height: 2px;
   ::ng-deep {
     .mat-progress-bar-buffer {
       background: $header-background;
     }

     .mat-progress-bar-fill::after {
       background-color: #D0D8DB;
     }
   }
}

.result-box {
  background-color: $input-background;
  position: absolute;
  width: 100%;
  z-index: 1;

  .result-item {
    padding: 10px 5px;
    border-top: 1px solid #647b89;
    color: #ffffff;
    margin: 0;
    transition: all .3s ease;

    &:hover {
      background: #3a4c55;
      font-weight: 600;
      cursor: pointer;
    }

    &:last-child {
      border-bottom: 1px solid #647b89;
    }
  }

  .all-results {
    padding: 5px;
    width: 100%;
    cursor: pointer;
    background: #647b89;
    color: $header-text-color;
    border: none;
    transition: all .3s ease;

    &:hover {
      background: #5e717d;
    }
  }
}
