<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <i class="fa fa-search" aria-hidden="true"></i>
  <input
    (keyup)="checkValue($event.target.value)"
    formControlName="searchInput"
    placeholder="חיפוש (למשל פועלים)">
</form>

<mat-progress-bar mode="indeterminate" *ngIf="showProgressBar" [color]="accent"></mat-progress-bar>

<div class="result-box" *ngIf="searchSubmitted">
  <p (click)="selectSearchedItem(result)" class="result-item" *ngFor="let result of searchResults | slice:0:10">{{result.fields.fund_name}}</p>
</div>
