@import "../../../assets/sass/vars.scss";

form {
  position: relative;
}

i {
  color: #FFF;
  position: absolute;
  top: 8px;
  left: 4px;
  font-size: 22px;
}

input {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  padding: 8px 8px;
  font-size: 16px;
  font-family: 'Alef', sans-serif;;
  background-color: #4D6571;
  border-style: none;
}

input::placeholder {
  color: #FFFFFF;
}
