
@import "../../../assets/sass/vars.scss";

form {
  position: relative;
}

i {
  color: #FFF;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 22px;
}

input {
  box-sizing: border-box;
  text-align: right;
  width: 100%;
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
  font-family: 'Alef', sans-serif;;
  background-color: $input-background;
  border-style: none;

  &:focus{
    outline: none;
  }
}

input::placeholder {
  color: #FFFFFF;
}

.result-box {
  background-color: $input-background;
  position: absolute;
  width: 100%;
  z-index: 1;

  .result-item {
    padding: 10px 5px;
    border-bottom: 1px solid #647b89;
    color: #ffffff;
    margin: 0;

    &:hover {
      background: #647b89;
      cursor: pointer;
    }
  }
}
