<div *ngIf="feedbackModalIsVisible" class="modal fade show on click" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Send Feedback</h4>
      </div>
      <div class="modal-body">
        <p>{{ErrorMsg}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="hideErrorMsg()">Close</button>
      </div>
    </div>
  </div>
</div>
