header {
  display: flex;
  padding-left: .75em;
  padding-right: .75em;
  padding-top: .75em;

  .logo {
    margin-left: auto;
    font-size: 1.5em;
    font-weight: 100;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    img {
      width: 2em;
      padding-left: 1em;
    }

    h1.text {
      font-size: 1.5em;
      font-weight: bold;
      color: #58585a;
      margin: 0;
    }
  }

  nav {
    margin-right: auto;
  }

  &.inner {
    border-bottom: solid 1px black;
    margin-bottom: 1em;
    padding-bottom: .5em;
    box-shadow: 0 5px 5px #4787c7;
  }

  &.sticky {
    position: fixed;
    width: 99vw;
    padding-bottom: .5em;
    background: #eceaff;

    &.bordered {
      border-bottom: 1px solid black;
    }

    nav {
      padding-left: .75em;
    }
  }
}
