@import "../_variables";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  direction: rtl;
}

body {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  background: $background;
  margin: 0;
  padding-bottom: 1em;
}

.header-money {
  height: 40vh;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  background: #eceaff;
}

.grid-display {
  padding-left: 0.75em;
  padding-right: 0.75em;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  display: grid;
  padding-top: 1.5em;
  grid-template-columns: auto auto auto;


  .article, .blog {

    .title {
      text-align: right;
      margin: 0;
      padding-bottom: 1em;
      padding-top: 1em;

      a {
        color: black;
        font-weight: normal;
        text-align: left;
      }
    }

    .meta {
      display: flex;

      .by {
        display: flex;
        padding-bottom: .25em;

        p {
          margin: 0;
          padding-right: .25em;

        }

        .tags {
          padding-bottom: 1em;

          a {
            padding-left: .25em;
          }
        }
      }
    }

    img {
      max-width: 100%;
      border: solid 1px $sheet-title;
    }
  }
}

@import "../_responsive";
