@import "../variables";

.inner-page {
  padding-right: 1em;
  padding-bottom: 0.25em;

  color: black;

  .grid-display {
    width: auto;
    padding: 0;
    padding-top: 1em; 

    .blog, .article {
      img {
        border: none;
      }
    }
  }

  p.intro {
    line-height: 1.75em;
  }

  .sub-title {

    ul {
      display: inline-flex;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
    }
  }
}
