@import "../../../assets/sass/vars.scss";

footer {
  border-top: 1px solid #E2E2E2;
  width: 100vw;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

div {
  display: inline-block;
  color: #4A4A4A;
  font-size: 16px;
}

a {
  color: #4990E2;
}
