@import "../../../assets/vars.scss";

nav {
  background-color: $header-background;
  display: block;
}

#logo {
  width: 25%;
  float: right;
}

img {
  vertical-align: middle;
}

.links {
  direction: rtl;

  a {
    float: left;
    color: $header-text-color;
  }
}
