<nav>
  <div class="container">
    <a id="logo" [routerLink]="['/']">
      <img src="/assets/logo.svg" alt="Open Pension Logo">
    </a>
    <div>
      <div class="links">
        <ul>
          <li>
            <a [routerLink]="['/blog']">
              <i class="fa fa-list" aria-hidden="true"></i>
              בלוג
            </a>
          </li>
          <li>
            <a [routerLink]="['/about']">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              אודות
            </a>
          </li>
          <li>
            <a [routerLink]="['/contact']">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              יצירת קשר
            </a>
          </li>
          <li>
            <a (click)="startIntro()">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              איך זה עובד?
            </a>
          </li>
        </ul>
      </div>
      <op-search></op-search>
    </div>
  </div>
</nav>
