@import "../../../assets/sass/vars.scss";

nav {
  background-color: $header-background;
  height: 15vh;

  .container {
    position: relative;
    display: flex;
    justify-content: space-around;
  }
}

li {
  display: inline-block;
  color: #ffffff;
}

#logo {
  align-self: center;
}

.links {
  direction: rtl;
  margin: 10px 0;

  a {
    margin: 0 10px;
    float: left;
    color: $header-text-color;
    cursor: pointer;
    font-size: 18px;

    i {
      vertical-align:middle;
    }
  }
}

 op-search {
   justify-content: flex-start;
 }
