@import "../../../assets/sass/mixins";

.graph-container{
  // SVG rendered inside the op-pai element is a little ofset.
  // We account for that with the rule below.
  transform: translate(3%, 0);
  @include aspectRatio(1,1);
}

/deep/ path {
  stroke: #fff;
}
