<section>
  <h2>בלוג</h2>
  <div *ngFor="let post of posts$ | async; let last=last;" >
    <op-post [post]="post"></op-post>
    <hr *ngIf="!last">
  </div>

  <div class="pagination">
    <button [disabled]="!previousPage" (click)="loadPreviousPage()" mat-button color="primary">« הקודם</button>
    <button mat-button color="primary"
      [disabled]="currentPage == index + 1"
      [class.active]="currentPage == index + 1"
      *ngFor="let pages of countPage; let index = index"
      (click)="loadNewPage(index + 1)">
        {{ index + 1 }}
      </button>
    <button [disabled]="!nextPage" (click)="loadNextPage()" mat-button color="primary">הבא »</button>
  </div>
</section>
