<div id='app'>
    <table>
        <thead>
            <tr>
                <td>Message</td>
                <td>Occurred at</td>
                <td>Service</td>
            </tr>
        </thead>

        <tbody>
            <tr v-if="logs.length != 0" v-for="log in logs">
                <td>{{log['message']}}</td>
                <td>{{log['date']}}</td>
                <td>{{log['service']}}</td>
            </tr>

            <tr v-else>
                <td colspan="3">Loading</td>
            </tr>
        </tbody>
    </table>
</div>