@import "../../../variables";

section.articles {
  border-bottom: solid 1px $dark;
  padding-bottom: 2em;

  h2 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: .5em;
    text-align: center;
  }

}
