@import "../../variables";

nav {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  position: relative;

  .wrapper {
    display: flex;
    justify-content: center;

    ul {
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;

      padding-top: .75em;
      padding-bottom: .75em;
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 50px;

      li {
        color: $navigation-color;
        font-weight: bold;
        font-size: 1.5em;
        list-style-type: none;

        a {
          text-decoration: none;
          color: $links-color;

          &:visited {
            color: $links-color;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &.mobile {

      .not-first {
        display: none;
      }

      ul {
        grid-template-columns: auto;
        grid-gap: 1em;
        justify-content: center;

        li {
          text-align: center;
          display: flex;

          a {
            padding-left: .25em;
          }
        }
      }
    }
  }
}
