<div style="direction: rtl;">
  <div class="sideMenu">
    <div>
      תאריך:
    </div>
    <div>
      פרמטרים:
    </div>

    <div class="parameterBulit" style="background-color: #C9B3EC;"
         data-intro="כדי לחזור אחורה בעומק הפאי, אפשר ללחוץ על הפרמטרים העליונים שכבר נעשתה בהם בחירה">
      בסיס
      <br/>
      <span style="font-size: 0.5em;">
         סה"כ שוק הפנסיה 100%
    </span>
    </div>
    <div data-intro="זו רשימת הפרמטרים שיופיעו בגרף
.כל פעם יופיעו בגרף 4 פרמטרים (אלה הצבעוניים בהתאמה)

אפשר לשנות את סדר הפרמטרים ע&quotlי גרירה, ואפשר להוסיף פרמטרים נוספים
">
      <div class="parameterBulit" style="background-color: #C4E2A0">
        גוף מנהל
      </div>
      <div class="parameterBulit" style="background-color: #FFCC7F">
        רמת סחירות
      </div>
      <div class="parameterBulit" style="background-color: #7FDEEB">
        סוג נכס
      </div>
      <div class="parameterBulit" style="backgroudn-color: #FFCC7F">
        רמת נזילות
      </div>
    </div>

  </div>
</div>

<div class="paiPart"
     data-intro="כדי לראות את הפרמטר הבא ברשימה צריך ללחוץ על פלח במעגל הפנימי ואז הוא יהפוך להיות מרכז המעגל ופרמטר נוסף יתווסף כמעגל חיצוני מרשימת הפרמטרים">
  <op-pai></op-pai>

</div>
