$grayColor: #B0BFC7;

.sideMenu {
  float: right;
  color: $grayColor;
  font-size: 1.5em;
}

.paiPart {
  float: right;
}

.parameterBulit {
  background-color: $grayColor;
  color: white;
  border-color: gray;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;

}


