[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "==1.11.10"
"psycopg2" = "==2.7.1"
django-extensions = "==1.8.1"
gunicorn = "==19.7.1"
django-flat-responsive = "==1.4.1"
django-ckeditor = "==5.3.0"
django-autocomplete-light = "==3.2.9"
django-colorful = "==1.2"
django-admin-honeypot = "==1.0.0"
djangorestframework = "==3.9.1"
Markdown = "==2.6.8"
django-filter = "==1.0.2"
django-cors-headers = "==2.1.0"
raven = "==6.1.0"
django-modeltranslation = "==0.12"

[dev-packages]

xlrd = "==1.0.0"
