<div class="managingBody">
    <div>
        <div>
            <img />
            <a [attr.data-id]="mangingBody.id"
               [routerLink]=" ['ManagingBodyDetailComponent', {id: mangingBody.id}] "
            > {{mangingBody.label}}
            </a>
        </div>
        <div>
            <p>{{mangingBody.quarterTimeChange}}</p>
            <p>{{mangingBody.changePercents}}</p>
        </div>
        <div>
            <p>{{mangingBody.totalPercents}}</p>
            <p>{{mangingBody.totalValue}}</p>
        </div>
    </div>
</div>
