@import "../../../variables";

section.money {
  margin: auto;
  text-align: center;

  h2, p {
    font-weight: lighter;
    font-size: 3.5em;
    margin: 0;
    padding: 0;
  }

  p {
    margin-top: .5em;
  }

  .text {
    padding-bottom: 3em;
  }

  .personal-zone {
    background: $button-bg;
    padding: .5em;
    border-radius: 5px;
    border: $light solid 1px;
    font-size: 1.25em;
    color: $light;
    cursor: pointer;
  }
}
