<nav>
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <a id="logo" fxFlex="30" [routerLink]="['/']">
      <img src="/assets/logo.svg" alt="Open Pension Logo">
    </a>
    <div fxFlex="40" class="search-wrapper" fxLayout="column">
      <div class="links">
        <ul fxLayout="row" fxLayoutAlign="space-between">
          <li>
            <a [routerLink]="['/blog/1']">
              <i class="fa fa-list" aria-hidden="true"></i>
              בלוג
            </a>
          </li>
          <li>
            <a [routerLink]="['/about']">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              אודות
            </a>
          </li>
          <li>
            <a [routerLink]="['/contact']">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
              יצירת קשר
            </a>
          </li>
          <li>
            <!-- <a (click)="startIntro()"> -->
            <a>
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              איך זה עובד?
            </a>
          </li>
        </ul>
      </div>
      <op-search></op-search>
    </div>
  </div>
</nav>
