
section.about-us {
  width: 80vw;
  margin: 0 auto;

  h2 {
    font-size: 2em;
    font-weight: lighter;
    letter-spacing: .5em;
    text-align: center;
  }

  p {
    font-size: 1.25em;
    line-height: 2em;
  }

}
