<section class="form-container" [hidden]="contact.formSubmitted">
  <h4>יצירת קשר</h4>
  <p>מוזמנים</p>

  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit()"
    fxLayout="column"
    fxLayoutAlign="space-between stretch">

    <input class="form-control" type="text" [formControl]="name" autofocus="true" placeholder="שם">

    <div *ngIf="name.invalid && (name.dirty || name.touched)"
         class="alert alert-danger">

      <div *ngIf="name.errors.required">
        שדה חובה.
      </div>
      <div *ngIf="name.errors.minlength">
        השם חייב להיות באורך של לפחות 2 תווים.
      </div>
    </div>

    <input type="email" placeholder="אימייל" [formControl]="email">

    <div *ngIf="email.invalid && (email.dirty || email.touched)"
         class="alert alert-danger">

      <div *ngIf="email.errors.required">
        שדה חובה.
      </div>
      <div *ngIf="email.errors.pattern">
        חייבת להיות כתובת דוא״ל חוקית.
      </div>
    </div>

    <textarea name="name" rows="8" cols="30" placeholder="תוכן" formControlName="content"></textarea>
    <div *ngIf="content.invalid && (content.dirty || content.touched)"
         class="alert alert-danger">

      <div *ngIf="content.errors.required">
        שדה חובה.
      </div>
      <div *ngIf="content.errors.minlength">
        השם חייב להיות באורך של לפחות 2 תווים.
      </div>
    </div>

    <button type="submit" [disabled]="!contactForm.valid">שליחה</button>

  </form>
</section>

<section class="message-wrapper" [hidden]="!contact.formSubmitted">
  <div *ngIf="contact.submittedSuccessfully;else submition_failed">
      <p class="message-container success">
        שליחת הנתונים בוצע בהצלחה!
      </p>
  </div>

  <ng-template #submition_failed>
    <p class="message-container failed">
      שליחת הנתונים נכשלה, נסה שנית מאוחר יותר!
    </p>
  </ng-template>

</section>
