.h1 {
  font-size: 3em;
  color: var(--dark-purple);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.h2 {
  color: var(--blue);
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.text {
  padding-top: .5em;
  font-weight: 300;
}
