.button-ok {
  border-color: var(--button-green);
  color: var(--button-green);

  &:hover {
    background: var(--button-green);
  }

  &.on-click {
    border-left-color: var(--button-green);
  }
}

.button-error {
  border-color: var(--button-red);
  color: var(--button-red);

  &:hover {
    background: var(--button-red);
  }

  &.on-click {
    border-left-color: var(--button-red);
  }
}

.button-warning {
  border-color: var(--buton-yellow);
  color: var(--buton-yellow);

  &:hover {
    background: var(--buton-yellow);
  }

  &.on-click {
    border-left-color: var(--buton-yellow);
  }
}

.button-info {
  border-color: var(--buton-blue);
  color: var(--buton-blue);

  &:hover {
    background: var(--buton-blue);
  }

  &.on-click {
    border-left-color: var(--buton-blue);
  }
}

.button {
  margin: .5em;
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid;
  letter-spacing: 1px;
  text-shadow: 0;
  font: {
    size: 12px;
    weight: bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    color: white;
  }

  &:active {
    letter-spacing: 2px;
  }

}

.on-click {
  width: 40px;
  border-color: var(--button-gray);
  border-width: 3px;
  font-size: 0;
  border-left-color: var(--button-green);
  animation: rotating 1s 0.25s linear infinite;

  &:after {
    content: "";
  }

  &:hover {
    color: var(--button-gray);
    background: white;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  padding: .625rem .75rem;
  transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
  color: #8898aa;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  background-color: #fff;
  background-clip: padding-box;
}
