
.message {
  display: compact;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  font-size: 1.10em;
  padding: 0.5em;
  margin: 0.5em;
}

.error {
  background: var(--red-background);
  color: var(--red-text);
  border-color: var(--red-border);
}

.success {
  background: var(--green-background);
  color: var(--green-text);
  border-color: var(--green-border);
}

.warning {
  background: var(--warning-background);
  color: var(--warning-text);
  border-color: var(--warning-border);
}

.info {
  background: var(--info-background);
  color: var(--info-text);
  border-color: var(--info-border);
}
