:root {
  --azure: #6fe7dd;
  --blue: #3490de;

  --light-purple: #6639a6;
  --dark-purple: #521262;

  --background: #f5f5f5;
  --text: black;

  --red-background: #ffcaca;
  --red-border: #7a1212;
  --red-text: #bb4545;

  --green-background: #caffcd;
  --green-border: #127a20;
  --green-text: #45bb51;

  --warning-background: #fdffca;
  --warning-border: #7a7012;
  --warning-text: #bbb545;

  --info-background: #caf4ff;
  --info-border: #12627a;
  --info-text: #459abb;

  --button-green: #1ECD97;
  --button-red: #cd1e38;
  --buton-blue: #1e73cd;
  --buton-yellow: #cdbc1e;
  --button-gray: #bbbbbb;

  --warning-error: #fb6340;
  --warning-ok: #2dce89;
  --warning-warning: #e29c5b;
  --warning-info: #11cdef;

  --header-border-bottom: #6b7de6;

  --delete-text: #fb6340;
  --edit-text: #1e73cd;
}
