.desktop {
  display: block;
}

.mobile {
  display: none !important;
}

@media (max-width: 1610px) {

  section {
    .grid-display {
      grid-template-columns: auto auto;
    }
  }
}

@media (max-width: 1030px) {

  header  {
    .wrapper {
      padding-right: 0;
    }
  }

  body {
    font-size: 18px;
  }

  header {
    .wrapper {
      justify-content: center;
      font-size: 1.5em;
    }
  }

  .money {
    .text {
      h2 {
        word-break: break-all;
      }
    }
  }

  section {

    .big {
      font-size:1.75em;
    }

    .grid-display {
      grid-template-columns:
        auto;
    }

    &.about-us {
      .quarter-text {
        font-size: 1.25em;
        width: 75vw;
      }
    }
  }
}

@media (max-width: 768px) {

  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  body {
    font-size: 14px;
  }

  footer {
    ul {
      grid-gap: 1.5em;
    }
  }
}

@media (max-width: 500px) {

  nav .wrapper ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: .5em;
  }

  section {

    h2 {
      font-size: 2.5em;
    }

    &.money {
      span {
        display: block;
        direction: ltr;
        text-align: right;
      }
    }

    &.about-us {
      h2 {
        font-size: 3em;
      }
    }
  }

  body {
    font-size: 12px;
  }
}
