$base-size: 16px;
$default-padding: 10vw;
$inner-page-padding: 10em;

$links-color: #005e95;
$header-color: white;
$header-bg: #005e95;
$navigation-color: #005e95;
$money-color: #005e95;
$sheet-title: #005e95;
$background: #f0f8fd;
$button-bg: #007ac1;
$button-txt: #fefeff;
$grid-item-bg: #ffffff;
$footer-bg: #add9ff;
$create-color: gray;
$blog-content-color: black;
