$base-size: 16px;
$background: white;

$dark: #000000;
$light: #ffffff;

$purple: #c6dbef;
$border: #6761ab;
$logo-text: #58585a;
$shadow: #4787c7;

$button-bg: linear-gradient(90deg, #685faa 0%, #4787c7 100%);
