<h3>{{ post.title }}</h3>
<div id="post-meta-data">
  <ul>
    <li>
      <div class="date">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>{{ post.publish | date: 'd/M/y' }}</span>
      </div>
    </li>
    <li>
      <div class="author">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>{{ post.author }}</span>
      </div>
    </li>
  </ul>
</div>

<div>
  <p>
    {{ post.body | slice:0:250 }}...
    <a [routerLink]="['/blog/post', post.unique_id]">קרא עוד >></a>
  </p>
</div>
